html, body {
  height: 100%;
	margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  background-image: linear-gradient(217deg, rgb(25,25,25,.1), rgba(50,50,50,0.3) 10%) url("img/backgroundCasio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
* h2{
  color: #000000;
  letter-spacing: 5px;
  font-size: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
* h3{
  color: #000000;
  letter-spacing: 5px;
  font-size: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
/* Project Detail page subtitle */
h4{
  margin-left: auto;
  margin-right: auto;
  color: #000000 ;
  letter-spacing: 4px;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}
* a {
	text-decoration: none;
	color: #000000;
}
a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}
* p{
    color: #000000;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 800;
    margin:0;
}

  /* Grid images and hovering */
div.col-sm-6 {
  padding: 0;
}
div.col-sm-6 img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
div.col-sm-12 .jumbotron{
  padding: 6% 8%;
}
div.col-sm-6 .jumbotron{
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 10% 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.main div.col-sm-6 .jumbotron{
  transition: .2s ease;
  opacity: 0;
  width: 70%;
  height: 60%;
}
div.col-sm-6 .jumbotron .description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main div.col-sm-6:hover .jumbotron {
  opacity: 1;
}
div.col-sm-12 img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
div.col-sm-4 img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.ankerWorkWithMe{
  margin-top: 100px;
  margin-bottom: 40px;
}
.ankerWorkWithMe div.col-sm-12 .jumbotron{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* SIGNUP */
#mc_embed_signup{
  background-color: #e9ecef !important;
}
#mc_embed_signup input.email{
  color: #000000 ;
  letter-spacing: 4px!important;
  font-size: 10px!important;
  font-weight: 800!important;
  text-decoration: none!important;
  width:80%!important;
  margin-left: 10%!important;
  text-align: center!important;
}
#mc_embed_signup .button{
  background-color: #FFA147!important;
  border-color: #FFA147!important;
  width:20%!important;
  margin-left: 40%!important;
  color: #000000!important ;
  letter-spacing: 4px!important;
  font-size: 10px!important;
  font-weight: 800!important;
  text-decoration: none!important;
}