.button {
  color: rgb(0,0,0);
  background-color: #FFA147 !important;
  border-color: #FFA147 !important;
  width: 20%;
  margin-left: 40%;
  opacity: 0.95;
}
.button:hover {
	opacity: 1;
}


.button a{
  text-decoration: none;
}

.button-wide{
	width: 30% !important;
}